.box {
    background: rgba(0, 0, 0, 0.30);
    transition: all 0.5s linear;
    position: fixed;
    z-index: 10000;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: auto;
}

.second {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}

.third {
    margin: 5vw 0px;
    position: relative;
    max-width: 90vw;
    width: 450px;
    word-wrap: break-word;
    border: solid 3px #014d31;
    border-radius: 10px;
    background-color: #a2d09f; 
}

.hidden {
    display: none;
}

.visuallyhidden {
    opacity: 0;
}	

#popUpWindow{
    margin: 30px;
}

#AddResult{
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
    color: #014d31;
}

#EndScore {
    font-size: 20px;
    margin-bottom: 40px;
    color: #014d31;
}

.input1 {
    border: 0px;
    border-radius: 5px;
    background-color: #c9e1c9;
    font-size: 20px;
    color: #014d31;
    padding: 7px 15px 10px 15px;
    outline: none;
    transition: all 0.2s linear;
    width: calc(100% - 30px);
    margin-bottom: 40px ;
}

.input1:focus {
    background-color: #e0f1e0;
    transition: all 0.2s linear;
}

#Nick{
    font-size: 15px;
    margin-bottom: 10px;
    color: #014d31;
}

.Back{
    float: left;
}

#Add{
    float: right;
}