@font-face {
    font-family: Sonic; /* Гарнитура шрифта */
    src: url(../fonts/Sonic1TitleScreenFilled.ttf); /* Путь к файлу со шрифтом */
}

* {
    font-family: Sonic, Arial;
}

body, html {    
    margin: 0px;
    padding: 0px;
    width: 100%;
    background: #a2d09f;
}

canvas {
    background: #c9e1c9;
}

#Window {    
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

#Menu{
    display: flex;
    align-items: center;
    margin: 25px 0px;
}

#Game{
    display: flex;
    align-items: center;
    margin: 25px 0px;
}

#TopTable{
    display: flex;
    align-items: center;
    margin: 25px 0px;
}

#Menu #Game #TopTable {
    min-width: 450px;
}