@font-face {
    font-family: Sonic; /* Гарнитура шрифта */
    src: url(../fonts/Sonic1TitleScreenFilled.ttf); /* Путь к файлу со шрифтом */
}

* {
    font-family: Sonic, Arial;
}

canvas {
    background: #c9e1c9;
}