@font-face {
    font-family: Sonic; /* Гарнитура шрифта */
    src: url(../fonts/Sonic1TitleScreenFilled.ttf); /* Путь к файлу со шрифтом */
}

* {
    font-family: Sonic, Arial;
}

body, html {    
    margin: 0px;
    padding: 0px;
    width: 100%;
    background: #a2d09f;
}

#Window {    
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

#Menu{
    display: flex;
    align-items: center;
    margin: 25px 0px;
}

#Game{
    display: flex;
    align-items: center;
    margin: 25px 0px;
}

#TopTable{
    display: flex;
    align-items: center;
    margin: 25px 0px;
    font-size: 10px;
    color: #014d31;
}

#Menu #Game #TopTable {
    min-width: 450px;
}

#ScoreLabel{
    font-size: 24px;
    color: #014d31;
    text-align: center;
    margin-bottom: 10px;
}

#Score{
    font-size: 24px;
    color: #014d31;
    text-align: center;
    margin-bottom: 150px;
}

#Restart{
    margin: 0 auto; 
    display: block;
}

.Button1{    
    font-size: 16px;
    color: #a2d09f;
    background: #014d31;
    border: 0px;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.06s linear;
    text-decoration-line: none;
}

.Button1:active{
    background: #00733c;
}

#Logo{
    color: #014d31;
    text-align: center;
    font-size: 40px;
    margin-bottom: 32px;
}

#snakeGame{
    background: #c9e1c9;
    border: 3px solid #014d31;
    margin: 0 auto; 
    display: block;
}

#topPlay {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

#TopTable table {
    min-width: 100%;
    border-collapse: collapse;
    text-align: center;
}

#TopTable th:nth-child(1) {
    width: 0px;
}

#TopTable td:nth-child(1) {
    width: 0px;
}

#TopTable th {
    padding: 4px 7px;
}

#TopTable td  {
    border-right: 3px solid #014d31;
    border-left: 3px solid #014d31;
    border-radius: 2px;
    padding: 4px 7px;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 10px; /* ширина для вертикального скролла */
    height: 10px; /* высота для горизонтального скролла */
    background-color: #a2d09f;
    border: solid 0px #a2d09f;
    border-radius: 5px;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #014d31;
    border-radius: 5px;;
}